.align-center {
  margin: 0 auto;
  text-align: center;
}

mark {
  font-weight: bold;
  color: #ff9900;
  background: transparent;
}

[href*="mailto:"] {
  font-weight: bold;
  color: #6600ff;
}

.flex {
  display: flex;
}

.webinar {
  padding: 15px 0;
}

.webinar__top-content {
  background-color: #E0F2FB;
  padding: 15px 0;
}

.webinar__title-descr {
  font-size: 26px;
  line-height: 26px;
  background-color: #6600ff;
  color: #ffffff;
  padding: 4px 12px;
  margin: 0;
}

.webinar__title {
  padding: 15px;
  margin: 0;
  color: black;
  text-align: left;
  text-transform: none;
  font-family: 'Cambay', sans-serif;
}

.webinar__description,
.webinar__date,
.webinar__duration,
.webinar__advantage-title {
  margin: 0 0 15px 0;
  padding: 0 15px;
}

.webinar__question {
  font-size: 24px;
  line-height: 21px;
  font-weight: bold;
  color: #6600ff;
  border-left: 4px solid #6600ff;
  margin-left: 15px;
  padding: 12px 15px;
}

.webinar__advantage-title {
  font-weight: bold;
  font-size: 20px;
}

.webinar__advantage-list {
  list-style: disc;
}

.webinar__advantage-item {
  margin-bottom: 6px;
  padding: 0 15px;
  font-size: 20px;
}

.webinar__result {
  padding: 0 15px;
  font-weight: bold;
  font-size: 20px;
}

.webinar__result span {
  display: block;
  color: #6600ff;
}

.webinar__photo-container {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border: 5px solid #6600ff;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.webinar__photo {
  width: 100%;
}

.webinar__presenter-about {
  font-size: 24px;
  font-weight: bold;
  color: #6600ff;
  padding: 0 15px;
}

.webinar__presenter-description {
  font-size: 18px;
  line-height: 28px;
  padding: 0 15px;
}

.header__register {
  height: 52px;
  background-color: #ff9900;
  border-radius: 27px;
  border: 2px solid #ff9900;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  outline: 0;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: 0 4px 5px rgba(255, 153, 0, 0.15);
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px 30px;
}

.header__register:hover,
.header__register:focus {
  background-color: #6600ff;
  border-color: #6600ff;
}

.header__register:active {
  background-color: #6600ff;
  transform: scale(0.95);
}

.cookie {
  max-width: 1920px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  position: fixed;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.cookie__logo {
  font-size: 48px;
  margin-right: 15px;
}

.cookie__title {
  font-size: 24px;
  line-height: 26px;
  font-family: 'Cambay', sans-serif;
  padding: 15px;
  margin: 0;
  color: black;
  text-align: left;
  text-transform: none;
}

.cookie__button {
  border: none;
  display: block;
  width: 240px;
  font-size: 20px;
  padding: 10px 0;
  border-radius: 30px;
  background-color: #ff9900;
  color: #ffffff;
  transition: all 0.2s;
  margin: 15px auto;
  outline: none;
  font-family: 'Cambay', sans-serif;
}

.cookie__button:hover {
  background-color: #6600ff;
}

.cookie__button:active {
  background-color: #6600ff;
  transform: scale(0.95);
}

.cookie__description {
  margin: 0;
  line-height: 2;
  font-size: 18px;
}

.cookie__policy {
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #6600ff;
  background-color: inherit;
  transition: all 0.2s;
  margin-bottom: 30px;
  outline: none;
}

.cookie__policy:hover {
  text-decoration: underline;
}

.cookie__policy:active {
  transform: scale(0.95);
}

@media (min-width: 768px) {
  .webinar {
    padding: 35px;
  }

  .webinar__top-content {
    margin: 0 -35px;
    padding: 20px 35px;
    background-image: url('../img/skillup/free.png');
    background-repeat: no-repeat;
    background-position: right center;
  }

  .webinar__title-descr {
    display: inline-block;
  }

  .webinar__presenter {
    display: flex;
  }

  .webinar__photo-container {
    flex-shrink: 0;
  }
}

@media (min-width: 1024px) {
  .webinar {
    max-width: 1314px;
    margin: 0 auto;
    background-image: url('../img/skillup/triangles-webinar-right-top.png');
    background-repeat: no-repeat;
    background-position: right top;
  }

  .webinar__top-content {
    background-position: calc(100% - 100px) 50%;
    position: relative;
    z-index: -1;

  }
}

@media (min-width: 1440px) {
  .webinar__title {
    font-size: 40px;
    line-height: 40px;
  }

  .cookie {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .cookie__button {
    margin: 0;
  }
}

@media (min-width: 1920px) {
  .webinar__title {
    font-size: 50px;
    line-height: 50px;
  }
}

.whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  width: 70px;
  height: 60px;
  transition: .5s transform;
}

.whatsapp img {
  max-width: 100%;
}

.whatsapp:hover {
  transform: scale(1.2)
}

.social-contacts {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.social-contacts li {
  display: inline-block;
}

.social-link {
  cursor: pointer;
  display: block;
  font-size: 0;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  transition: all 0.3s;
  border-radius: 5px;
  transition: all 0.3s;
}

.social-contacts li + li {
  margin-left: 10px;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  transform: translate(2px, 2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.footer__online-contacts {
  padding-bottom: 20px;
}

.social-link--facebook {
  background-image: url(../img/social/facebook.svg);
}

.social-link--twitter {
  background-image: url(../img/social/twitter.svg);
}

.social-link--linkedin {
  background-image: url(../img/social/linkedin.svg);
}

.social-link--instagram {
  background-image: url(../img/social/instagram.svg);
}

.social-link--youtube {
  background-image: url(../img/social/youtube.svg);
}

.social-link--telegram {
  background-image: url(../img/social/telegram.svg);
}

.hashtag {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: Oswald;
  font-weight: 700;
  color: #0398df;
}

.lang {
  width: 60px;
  display: flex;
  margin: 0 auto 10px;
}

.lang-item {
  display: none;
}

.lang-item.active {
  display: inline;
  font-size: 36px;
  color: #df0365;
  font-family: Oswald;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.lang__btn {
  border: none;
  position: relative;
  width: 20px;
  height: 20px;
  top: 8px;
  background-color: transparent;
}

.lang__btn::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  z-index: 10;
  background-color: red;
  border-width: 10px 5px 0 5px;
  border-color: #6600ff transparent transparent transparent;
}

.for-screen-readers {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

@media (max-width: 767px) {
  .social {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .social {
    margin-left: auto;
  }

  .social-contacts li + li {
    margin-left: 4px;
  }

  .social-contacts a {
    width: 35.72px;
    height: 35.72px;
  }

  .footer .social-contacts {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
  }

  .footer .social-contacts a {
    width: 44.4px;
    height: 44.4px;
    margin-right: 11px;
    margin-left: 0;
  }

  .footer .social-contacts li + li {
    margin: 0;
  }

  .footer .social-contacts li:nth-child(4),
  .footer .social-contacts li:nth-child(5),
  .footer .social-contacts li:nth-child(6) {
    margin-top: 5px;
  }
}

@media (min-width: 1024px) {
  .social {
    margin-top: 16px;
  }
}

@media (min-width: 1920px) {
  .social {
    margin-top: 24px;
  }

  .footer .social-contacts {
    width: 100%;
  }

  .footer .social-contacts a {
    width: 42.5px;
    height: 42.5px;
    margin-right: 9.8px;
  }

  .footer .social-contacts li:nth-child(4),
  .footer .social-contacts li:nth-child(5),
  .footer .social-contacts li:nth-child(6) {
    margin-top: 0;
  }
}
