@font-face {
  src: local('Oswald'), url(../fonts/oswald.woff2) format('woff2');
  font-family: Oswald;
  font-weight: 700;
}

@font-face {
  src: local('Roboto'), url(../fonts/roboto.woff2) format('woff2');
  font-family: Roboto;
  font-weight: 400;
}

header,
footer,
main {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #0398DF;
  margin: 30px auto;
  text-align: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.school {
  background-image: url('../img/svg/school.svg');
  width: 105px;
  height: 33px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  left: 10px;
}

.menu {
  display: inline-block;
  width: 100%;
  margin: 0 auto 20px;
}

.menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__item {
  display: inline-block;
}

.menu__item a {
  text-transform: uppercase;
  font-size: 36px;
  color: #6600FF;
  font-family: Oswald;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.menu__item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #6600FF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.menu__item a:hover:before,
.menu__item a:active:before,
.menu__item a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.social {
  width: 100%;
}

.social-contacts {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.social-contacts li {
  display: inline-block;
}

.social-contacts a {
  width: 42px;
  height: 42px;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 3px;
}

.social-contacts li + li {
  margin-left: 10px;
}

.social-contacts a:hover,
.social-contacts a:focus,
.social-contacts a:active {
  transform: translate(2px, 2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.facebook {
  background-image: url(../img/svg/facebook.svg);
}

.twitter {
  background-image: url(../img/svg/twitter.svg);
}

.linkdin {
  background-image: url(../img/svg/linkdin.svg);
}

.instagram {
  background-image: url(../img/svg/instagram.svg);
}

.youtube {
  background-image: url(../img/svg/youtube.svg);
}

.hashtag {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: Oswald;
  font-weight: 700;
  color: #0398DF;
}

.lang {
  width: 60px;
  display: flex;
  margin: 0 auto 10px;
}

.lang-item {
  display: none;
}

.lang-item.active {
  display: inline;
  font-size: 36px;
  color: #DF0365;
  font-family: Oswald;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.lang__btn {
  border: none;
  position: relative;
  width: 20px;
  height: 20px;
  top: 8px;
  background-color: transparent;
}

.lang__btn::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  z-index: 10;
  background-color: red;
  border-width: 10px 5px 0 5px;
  border-color: #6600ff transparent transparent transparent;
}

.php-parallax,
.java-parallax,
.css-parallax,
.html-parallax {
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  z-index: 2;
}

.php-parallax {
  right: 20px;
  bottom: 20px;
  width: 402px;
  height: 234px;
  background-image: url(../img/svg/php.svg);
}

.java-parallax {
  right: 240px;
  bottom: 40px;
  width: 426px;
  height: 234px;
  background-image: url(../img/svg/java.svg);
}

.css-parallax {
  bottom: 40px;
  left: 430px;
  width: 382px;
  height: 200px;
  background-image: url(../img/svg/css.svg);
}

.html-parallax {
  top: 40px;
  left: 150px;
  width: 575px;
  height: 234px;
  background-image: url(../img/svg/html.svg);
}

.main-section {
  text-align: right;
  position: relative;
}

.main-slogan {
  position: absolute;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FF6005;
  text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.8);
  text-align: left;
  top: 160px;
  left: 324px;
  z-index: 2;
}

.main-img {
  z-index: 1;
}

.parallax {
  height: 100%;
  border-radius: 60px 0px 0px 0px;
  overflow: hidden;
}

.parallax:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../img/mask1.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.main-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.course-section {
  background: #F5F5F5;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 200px 0px 0px 0px;
  padding: 100px 50px;
}

.course-item {
	width: 150px;
	height: 85px;
	background: #ffffff;
  position: relative;
  border: 2px solid red;
}

.course-item + .course-item {
  margin-top: 100px;
}

.course-item:before {
	content: "";
	position: absolute;
	top: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 37px solid white;
}

.course-item:after {
	content: "";
	position: absolute;
	bottom: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid red;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-bottom: 15px;
}

.feature-img {
  height: 50px;
  width: 50px;
  background-color: #6600FF;
  box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-text {
  width: calc(100% - 50px);
  margin-left: 15px;
}

.feature-item-project .feature-img {
  background-image: url('../img/svg/project.svg');
  background-size: 45%;
}

.feature-item-task .feature-img {
  background-image: url('../img/svg/puzzle.svg');
  background-size: 60%;
}

.feature-item-beginner .feature-img {
  background-image: url('../img/svg/calc.svg');
  background-size: 40%;
}

.feature-item-expert .feature-img {
  background-image: url('../img/svg/expert.svg');
  background-size: 40%;
}

.feature-item-certificate .feature-img {
  background-image: url('../img/svg/certif.svg');
  background-size: 50%;
}

.feature-item-modern .feature-img {
  background-image: url('../img/svg/rocket.svg');
  background-size: 35%;
}

.feature-item-modern .feature-img {
  background-image: url('../img/svg/rocket.svg');
  background-size: 35%;
}

.feature-item-test .feature-img {
  background-image: url('../img/svg/test.svg');
  background-size: 40%;
}

.feature-item-review .feature-img {
  background-image: url('../img/svg/review.svg');
  background-size: 60%;
}

.progress-section {
  background-image: url('../img/progress.png');
  background-color: #6500FF;
  background-size: 100%;
  padding: 10px 15px;
}

.progress-section h2 {
  color: #ffffff;
}

.progress__item {
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  border-left: 4px dashed #ffffff;
}

.progress__description {
  margin: 0;
}

.progress__item::before {
  content: "";
  display: block;
  position: absolute;
  top: -17px;
  left: -9px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 15px;
}

.progress__item--paw::before {
  background-image: url('../img/svg/icon-paw.svg');
}

.progress__item--droid::before {
  background-image: url('../img/svg/icon-droid.svg');
}

.progress__item--rocket::before {
  background-image: url('../img/svg/icon-rocket.svg');
}

.progress__item--study::before {
  background-image: url('../img/svg/icon-study.svg');
}

.progress__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #FF6005;
}

.progress__description {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.progress__week {
  color: #ffffff;
}

.freelance-section {
  position: relative;
  background-image: url()
}

.freelance-section .freelance-text {
  position: absolute;
  top: 70px;
  left: 100px;
  z-index: 1;
  width: 30%;
  color: #ffffff;
  margin: 0;
}

.freelance-section h2 {
  color: #ffffff;
  margin: 0;
}

.freelance-section .subscribe-btn {
  background-color: #0398DF;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  padding: 3px 85px;
  color: #ffffff;
  border: none;
  margin-top: 30px;
  position: relative;
}

.freelance-section .subscribe-btn::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #0398DF;
  right: -30px;
  position: absolute;
  top: 0;
}

.freelance-img {
  text-align: right;
}

.freelance-img img {
  max-width: 100%;
  max-height: 100%;
}

.freelance-img::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background-image: url('../img/bg-lilac.png');
}

.for-screen-readers {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(100%);
}

.process-section {
  background-image: url(../img/progress.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 576px;
}

.process-section:before {
  background: linear-gradient(270deg, #6600FF 24.03%, rgba(102, 0, 255, 0) 50%);
}

.process-section h2 {
  color: #ffffff;
  margin-left: 335px;
}

.process-progress-bar {
  background-color: #FF6005;
  height: 30px;
  width: 80%;
}

.instructor-section {
  background-color: #EDE1FF;
}

.location-section {
  color: #6600FF;
}

.location-section h2,
.location-section h3 {
  display: inline-block;
  color: #6600FF;
}

.location-section h2 {
  font-size: 96px;
}

.location-section h3 {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  margin-left: 26px;
}

footer {
  padding: 60px 100px;
}

footer h4 {
  font-size: 36px;
  color: #6600FF;
}

.footer-menu__item a {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}

.tel {
  display: block;
  position: relative;
  color: #6600FF;
  padding: 0 0 0 55px;
  z-index: 1;
  text-decoration: none;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}

.tel::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.email {
  display: block;
  position: relative;
  color: #6600FF;
  padding: 0 0 0 55px;
  z-index: 1;
  text-decoration: none;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}

.email::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../img/svg/email.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-year {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FF6005;
  margin-left: 32px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
}

.footer-info {
  flex-grow: 1;
}

footer nav::after {
  content: "";
  display: block;
  margin: 20px 0 40px;
  height: 6px;
  background-color: #0398DF;
}

@media (min-width: 768px) {
  .header {
    padding: 15px 8px 13px;
  }

  .logo {
    padding-top: 3px;
    width: 105px;
    margin-right: 21px;
    margin-bottom: 0;
  }

  .logo img {
    width: 108px;
  }

  .school {
    width: 75px;
    left: 7px;
  }

  .menu {
    width: auto;
    padding-top: 36px;
  }

  .menu__items {
    flex-direction: row;
  }

  .menu__item {
    margin-right: 17px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item a {
    font-size: 16px;
  }

  .social {
    width: 169px;
    margin-left: auto;
    margin-top: 10px;
  }

  .social-contacts {
    width: 166.88px;
  }
  
  .social-contacts li + li {
    margin-left: 4px;
  }

  .social-contacts a {
    width: 35.72px;
    height: 35.72px;
  }

  .header .hashtag {
    font-size: 24px;
    letter-spacing: 0.4px;
    text-align: right;
    position: relative;
    bottom: 10px;
    right: 2px;
  }

  .lang {
    width: 38px;
    margin: 34px 0 10px;
  }

  .lang-item.active {
    font-size: 16px;
  }

  .lang__btn::before {
    top: -3px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .social {
    margin-top: 16px;
    margin-right: 20px;
  }

  .lang {
    margin-top: 36px;
  }
}

@media (min-width: 1920px) {
  .header {
    padding-bottom: 22px;
  }
  
  .logo {
    padding-top: 13px;
    margin-left: 40px; 
  }

  .logo img {
    width: 148px;
  }

  .school {
    width: 105px;
    left: 30px;
  }

  .menu {
    padding-top: 48px;
    margin-left: 209px;
  }

  .menu__item {
    margin-right: 54px;
  }

  .menu__item a {
    font-size: 36px;
  }

  .social {
    width: 201px;
    margin-top: 24px;
    margin-right: 47px;
  }

  .social-contacts {
    width: 201px;
  }

  .social-contacts a {
    width: 44.28px;
    height: 44.28px;
  }

  .header .hashtag {
    font-size: 36px;
    text-align: center;
    bottom: 8px;
  }

  .lang {
    margin-top: 47px;
    margin-right: 37px;
  }

  .lang-item.active {
    font-size: 36px;
  }

  .lang__btn {
    top: 19px;
    left: 4px;
  }
}
