@font-face {
  src: local('Oswald'), url(../fonts/oswald.woff2) format('woff2');
  font-family: Oswald;
  font-weight: 700;
}

@font-face {
  src: local('Roboto'), url(../fonts/roboto.woff2) format('woff2');
  font-family: Roboto;
  font-weight: 400;
}

header,
footer,
main {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #0398DF;
  margin: 30px auto;
  text-align: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.school {
  background-image: url('../img/svg/school.svg');
  width: 105px;
  height: 33px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  left: 10px;
}

.menu {
  display: inline-block;
  width: 100%;
  margin: 0 auto 20px;
}

.menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__item {
  display: inline-block;
}

.menu__item a {
  text-transform: uppercase;
  font-size: 36px;
  color: #6600FF;
  font-family: Oswald;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.menu__item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #6600FF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.menu__item a:hover:before,
.menu__item a:active:before,
.menu__item a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.social {
  width: 100%;
}

.social-contacts {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.social-contacts li {
  display: inline-block;
}

.social-contacts a {
  width: 42px;
  height: 42px;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 3px;
}

.social-contacts li + li {
  margin-left: 10px;
}

.social-contacts a:hover,
.social-contacts a:focus,
.social-contacts a:active {
  transform: translate(2px, 2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.facebook {
  background-image: url(../img/svg/facebook.svg);
}

.twitter {
  background-image: url(../img/svg/twitter.svg);
}

.linkdin {
  background-image: url(../img/svg/linkdin.svg);
}

.instagram {
  background-image: url(../img/svg/instagram.svg);
}

.youtube {
  background-image: url(../img/svg/youtube.svg);
}

.hashtag {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-family: Oswald;
  font-weight: 700;
  color: #0398DF;
}

.lang {
  width: 60px;
  display: flex;
  margin: 0 auto 10px;
}

.lang-item {
  display: none;
}

.lang-item.active {
  display: inline;
  font-size: 36px;
  color: #DF0365;
  font-family: Oswald;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.lang__btn {
  border: none;
  position: relative;
  width: 20px;
  height: 20px;
  top: 8px;
  background-color: transparent;
}

.lang__btn::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  z-index: 10;
  background-color: red;
  border-width: 10px 5px 0 5px;
  border-color: #6600ff transparent transparent transparent;
}

.php-parallax,
.java-parallax,
.css-parallax,
.html-parallax {
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  z-index: 2;
}

.php-parallax {
  right: 20px;
  bottom: 20px;
  width: 402px;
  height: 234px;
  background-image: url(../img/svg/php.svg);
}

.java-parallax {
  right: 240px;
  bottom: 40px;
  width: 426px;
  height: 234px;
  background-image: url(../img/svg/java.svg);
}

.css-parallax {
  bottom: 40px;
  left: 430px;
  width: 382px;
  height: 200px;
  background-image: url(../img/svg/css.svg);
}

.html-parallax {
  top: 40px;
  left: 150px;
  width: 575px;
  height: 234px;
  background-image: url(../img/svg/html.svg);
}

.parallax {
  height: 100%;
  border-radius: 60px 0px 0px 0px;
  overflow: hidden;
}

.parallax:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../img/mask1.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.main-section {
  text-align: right;
  position: relative;
}

.main-slogan {
  position: absolute;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FF6005;
  text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.8);
  text-align: left;
  top: 160px;
  left: 324px;
  z-index: 2;
}

.main-img {
  z-index: 1;
}

.main-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.course-section {
  background: #F5F5F5;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 200px 0px 0px 0px;
  padding: 100px 50px;
}

.course-item {
	width: 150px;
	height: 85px;
	background: #ffffff;
  position: relative;
  border: 2px solid red;
}

.course-item + .course-item {
  margin-top: 100px;
}

.course-item:before {
	content: "";
	position: absolute;
	top: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 37px solid white;
}

.course-item:after {
	content: "";
	position: absolute;
	bottom: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid red;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-bottom: 15px;
  width: 100%;
}

.feature-img {
  height: 50px;
  width: 50px;
  background-color: #6600FF;
  box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-text {
  width: calc(100% - 50px);
  margin-left: 15px;
  color: #6600FF;
}

.feature-item-project .feature-img {
  background-image: url('../img/svg/project.svg');
  background-size: 45%;
}

.feature-item-task .feature-img {
  background-image: url('../img/svg/puzzle.svg');
  background-size: 60%;
}

.feature-item-beginner .feature-img {
  background-image: url('../img/svg/calc.svg');
  background-size: 40%;
}

.feature-item-expert .feature-img {
  background-image: url('../img/svg/expert.svg');
  background-size: 40%;
}

.feature-item-certificate .feature-img {
  background-image: url('../img/svg/certif.svg');
  background-size: 50%;
}

.feature-item-modern .feature-img {
  background-image: url('../img/svg/rocket.svg');
  background-size: 35%;
}

.feature-item-modern .feature-img {
  background-image: url('../img/svg/rocket.svg');
  background-size: 35%;
}

.feature-item-test .feature-img {
  background-image: url('../img/svg/test.svg');
  background-size: 40%;
}

.feature-item-review .feature-img {
  background-image: url('../img/svg/review.svg');
  background-size: 60%;
}

.progress-section {
  background-image: url(../img/progress-mask.png), linear-gradient(270deg, #6600FF 24.03%, rgba(102, 0, 255, 0) 50%), url('../img/progress.jpg');
  background-color: #6500FF;
  background-repeat: no-repeat, repeat, repeat;
  background-size: 19%, 100%, 110%;
  padding: 10px 15px;
}

.progress-section h2 {
  color: #ffffff;
}

.progress__item {
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  border-left: 4px dashed #ffffff;
}

.progress__description {
  margin: 0;
}

.progress__item::before {
  content: "";
  display: block;
  position: absolute;
  top: -17px;
  left: -9px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 15px;
}

.progress__item--paw::before {
  background-image: url('../img/svg/icon-paw.svg');
}

.progress__item--droid::before {
  background-image: url('../img/svg/icon-droid.svg');
}

.progress__item--rocket::before {
  background-image: url('../img/svg/icon-rocket.svg');
}

.progress__item--study::before {
  background-image: url('../img/svg/icon-study.svg');
}

.progress__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #FF6005;
}

.progress__description {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.progress__week {
  color: #ffffff;
}

.freelance-section {
  position: relative;
  background-image:  url(../img/bg-lilac.png), url(../img/freelance.jpg);
  background-repeat: no-repeat;
  background-size: 404px, 320px;
  background-position: top left, top right;
  padding: 10px 0;
}

.freelance__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 150px;
  text-align: left;
  margin: 10px 10px 20px;
  color: #ffffff;
}

.freelance__btn {
  margin-left: 10px;
  margin-bottom: 25px;
  border: 0;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #0398DF;
  font-size: 14px;
  min-height: 25px;
  position: relative;
}

.freelance__btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 10px;
  border-color: transparent transparent transparent #0398DF;
}

.instructor-section {
  background-color: #EDE1FF;
  padding: 25px 15px;
}

.instructor__title {
  margin: 0;
  color: #6600FF;
}

.instructor__description {
  font-family: "Robot", "Arial", sans-serif;
  text-transform: uppercase;
  color: #6600FF;
  text-align: center;
}

.instructor__info {
  width: 100%;
  min-height: 246px;
  position: relative;
}

.instructor__photo {
  width: 100%;
}

.instructor__name {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 24px 0 14px;
  background-image: linear-gradient(180deg, rgba(102, 0, 255, 0) 0%, #6600FF 100%);
  position: absolute;
  bottom: 0;
}

.review-section {
  padding: 25px 15px;
}

.review__title {
  margin: 0 0 10px;
}

.review__name {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  color: #6600FF;
  padding-left: 5px;
  margin-bottom: 5px;
}

.review__photo {
  float: left;
  margin-right: 10px;
}

.review__controls {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.review__btn {
  font-size: 0;
  width: 36px;
  height: 36px;
  border: none;
  background-color: inherit;
  background-image: url('../img/review-arrow.svg');
  outline: none;
}

.review__prev {
  transform: rotate(180deg);
}

.mentor__photo {
  width: 100%;
  margin-bottom: 10px;
}

.mentor-sectoon {
  padding-bottom: 10px;
}

.mentor__title {
  width: 100%;
  margin: 0;
}

.mentor__title::before {
  content: "";
  width: 100%;
  height: 12px;
  display: block;
  background-color: #0398DF;
  margin-bottom: 10px;
}

.location-section {
  padding: 10px 0;
}

.location__title {
  color: #6600FF;
  margin: 10px;
}

.location__address {
  color: #6600FF;
  padding-left: 15px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 10px;
}

.for-screen-readers {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(100%);
}

.footer .menu {
  margin-bottom: 0;
}

.footer .hashtag {
  margin-bottom: 10px;
}

.footer__contacts {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.footer__contacts a {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 28px;
  text-decoration: none;
  color: #6600FF;
}

.footer__contacts a::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.footer__tel::before {
  background-image: url('../img/svg/phone.svg');
}

.footer__email::before {
  background-image: url('../img/svg/email.svg');
}

.footer .location__title {
  color: #0398DF;
}

.footer .location__address {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 28px;
}

.current-year {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 22px;
  line-height: 27px;
  color: #FF6005;
  position: relative;
  right: 21px;
}

@media (min-width: 425px) {
  .freelance-section {
    background-size: 107%, 100%;
    height: 48.4vw;
    padding-bottom: 0;
  }

  .freelance__title {
    font-size: 3vw;
    line-height: 4.5vw;
    width: 30%;
    margin: 2.7vw 2.1vw 9.9vw;
  }

  .freelance__btn {
    margin-left: 2.1vw;
    padding: 0 2.8vw;
    font-size: 2.1vw;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 15px 8px 13px;
  }

  .logo {
    padding-top: 3px;
    width: 105px;
    margin-right: 21px;
    margin-bottom: 0;
  }

  .logo img {
    width: 108px;
  }

  .school {
    width: 75px;
    left: 7px;
  }

  .menu {
    width: auto;
    padding-top: 36px;
  }

  .menu__items {
    flex-direction: row;
  }

  .menu__item {
    margin-right: 17px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item a {
    font-size: 16px;
  }

  .social {
    width: 169px;
    margin-left: auto;
    margin-top: 1px;
    margin-right: 24px;
  }

  .social-contacts {
    width: 166.88px;
  }
  
  .social-contacts li + li {
    margin-left: 4px;
  }

  .social-contacts a {
    width: 35.72px;
    height: 35.72px;
  }

  .header .hashtag {
    font-size: 24px;
    letter-spacing: 0.4px;
    text-align: right;
    position: relative;
    bottom: 10px;
    right: 2px;
  }

  .lang {
    width: 38px;
    margin: 34px 0 10px;
  }

  .lang-item.active {
    font-size: 16px;
  }

  .lang__btn::before {
    top: -3px;
  }

  .feature-section {
    padding: 26px 14px 82px;
    background-image: url('../img/feature-mask.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 23%;
  }

  .feature-section h2 {
    text-align: left;
    margin: 0;
    font-size: 35px;
    color: #6600FF;
    letter-spacing: 3.7px;
    margin-bottom: 38px;
  }

  .feature-item {
    padding: 0;
    width: 50%;
    justify-content: flex-start;
    margin-bottom: 28px;
  }

  .feature-img {
    width: 162px;
    height: 163px;
  }

  .feature-text {
    width: 50%;
    font-size: 16px;
    margin-left: 5px;
  }

  .progress-section {
    padding: 41px 15px 27px;
  }

  .progress-section h2 {
    font-size: 34px;
    text-align: left;
    margin: 0;
    margin-bottom: 55px;
    padding-left: 106px;
    letter-spacing: 0.7px;
  }

  .progress__list {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .progress__list::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 49px;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: #FF6005;
  }

  .progress__item {
    width: 19.65%;
    padding: 0 3px;
  }

  .progress__item::before {
    width: 19px;
    height: 19px;
    top: -22px;
    background-size: 19px;
  }

  .progress__item::after {
    bottom: 19px;
    height: 14px;
  }

  .progress__description {
    position: relative;
    bottom: 6px;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-bottom: 35px;
  }

  .progress__week {
    font-size: 17px;
    position: absolute;
    left: -59px;
    bottom: -4px;
  }

  .progress__week::before {
    content: "";
    position: absolute;
    top: -18px;
    right: -6px;
    width: 4px;
    height: 14px;
    display: block;
    background-color: #5500DE;
    z-index: 1;
  }

  .freelance-section {
    background-size: 108%, 80%;
    height: 49.7vw;
  }

  .freelance__title {
    letter-spacing: .3px;
  }

  .instructor-section {
    padding: 38px 14px 1px;
  }

  .instructor__title {
    text-align: left;
    font-size: 35px;
    letter-spacing: 0.2px;
    margin-bottom: 11px;
  }

  .instructor__description {
    text-align: left;
    margin: 0;
    letter-spacing: .26px;
    margin-bottom: 29px;
  }

  .instructor__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .instructor__item {
    width: 355px;
    margin-bottom: 14px;
  }
  
  .instructor__info {
    position: relative;
    background-color: #EDE1FF;
  }

  .instructor__info::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    border-style: solid;
    z-index: 1;
  }
  
  .instructor__item:nth-child(4n + 1) .instructor__info::before {
    right: -1px;
    bottom: -1px;
    border-width: 0 0 55px 55px;
    border-color: transparent transparent #EDE1FF transparent;
  }

  .instructor__item:nth-child(4n + 2) .instructor__info::before {
    left: -1px;
    top: -1px;
    border-width: 55px 55px 0 0;
    border-color: #EDE1FF transparent transparent transparent;
  }

  .instructor__item:nth-child(4n + 3) .instructor__info::before {
    left: -1px;
    bottom: -1px;
    border-width: 55px 0 0 55px;
    border-color: transparent transparent transparent #EDE1FF;
  }

  .instructor__item:nth-child(4n + 4) .instructor__info::before {
    right: -1px;
    top: -1px;
    border-width: 0 55px 55px;
    border-color: transparent #EDE1FF transparent transparent;
  }

  .instructor__photo {
    height: 311px;
  }

  .instructor__name {
    font-size: 36px;
  }

  .instructor__about {
    margin: 15px 0;
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .social {
    margin-top: 16px;
    margin-right: 20px;
  }

  .menu__item a {
    font-size: 22px;
  }

  .lang {
    margin-top: 36px;
  }

  .progress-section {
    padding-top: 81px;
  }

  .freelance__btn {
    font-size: 18px;
  }
}

@media (min-width: 1366px) {
  .menu__item a {
    font-size: 28px;
  }

  .feature-item {
    width: 33%;
  }

  .feature-item:nth-child(5n + 4) {
    justify-content: flex-end;
  }

  .feature-item:nth-child(5n + 4),
  .feature-item:nth-child(5n + 5) {
    width: 50%;
  } 

  .progress-section {
    background-size: 13%, 100%, 110%;
  }

  .progress__description {
    font-size: 24px;
    margin: 0 10px 35px;
  }

  .freelance__btn {
    font-size: 28px;
    padding: 2px 2.8vw;
  }

  .freelance__btn::after {
    right: -12px;
    border-width: 18px 0 18px 12px;
  }
}

@media (min-width: 1920px) {
  .header {
    padding-bottom: 22px;
    padding-right: 37px;
  }
  
  .logo {
    padding-top: 13px;
    margin-left: 40px; 
  }

  .logo img {
    width: 148px;
  }

  .school {
    width: 105px;
    left: 30px;
  }

  .menu {
    padding-top: 48px;
    margin-left: 209px;
  }

  .menu__item {
    margin-right: 58px;
  }

  .menu__item a {
    font-size: 36px;
  }

  .social {
    width: 201px;
    margin-top: 24px;
    margin-right: 47px;
  }

  .social-contacts {
    width: 201px;
  }

  .social-contacts a {
    width: 44.28px;
    height: 44.28px;
  }

  .header .hashtag {
    font-size: 36px;
    text-align: center;
    bottom: 8px;
    letter-spacing: 2px;
    right: -1px;
  }

  .lang {
    margin-top: 47px;
    margin-right: 37px;
  }

  .lang-item.active {
    font-size: 36px;
  }

  .lang__btn {
    top: 19px;
    left: 4px;
  }

  .feature-section {
    padding: 91px 100px 244px;
  }

  .feature-section h2 {
    font-size: 72px;
    letter-spacing: 8.2px;
    margin-bottom: 126px;
  }

  .feature-item {
    width: 32.1%;
    margin-bottom: 60px;
  }

  .feature-item:nth-child(5n + 4) .feature-text {
    width: 307px;
  }

  .feature-item:nth-child(5n + 5) {
    width: 49%;
  }

  .feature-img {
    width: 238px;
    height: 238px;
  }

  .feature-text {
    font-size: 24px;
    margin-left: 23px;
  }

  .progress-section {
    background-size: 16%, 100%, 110%;
    padding: 73px 124px 103px 104px;
  }

  .progress-section h2 {
    font-size: 64px;
    padding-left: 247px;
    margin-bottom: 166px;
  }

  .progress__item::before {
    width: 31px;
    height: 31px;
    top: -44px;
    background-size: 31px;
    left: -17px;
  }

  .progress__list::after {
    bottom: 58px;
    height: 30px;
  }

  .progress__item::after {
    bottom: 28px;
    height: 30px;
  }

  .progress__description {
    font-size: 36px;
    line-height: 53px;
    bottom: 14px;
    margin-bottom: 66px;
  }

  .progress__week {
    font-size: 24px;
    line-height: 28px;
    left: -89px;
    bottom: -6px;
  }

  .progress__week::before {
    top: -36px;
    height: 30px;
    right: -14px;
  }

  .freelance-section {
    background-size: 100.1%, 80%;
    height: 47vw;
  }

  .freelance__title {
    font-size: 64px;
    line-height: 150%;
    margin-top: 61px;
    margin-left: 99px;
    margin-bottom: 127px;
    letter-spacing: 0.9px;
  }

  .freelance__btn {
    font-size: 36px;
    margin-left: 100px;
    width: 392px;
    padding: 9px 2.8vw;
  }

  .freelance__btn::after {
    right: -16px;
    border-width: 30px 0 30px 16px;
  }
}
