@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: bold;
}

body {
  position: relative;
  margin: 0;
  font-family: "Muller";
  font-size: 18px;
  background-color: #fcfcfc;
  padding-top: 83px;
}

a,
button {
  cursor: pointer;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.body__overlay {
  overflow: hidden;
}

.body__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  text-align: center;
}

.list__item-title {
  position: relative;
  margin-bottom: 10px;
}

.list__item-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 11px;
  height: 4px;
  background-color: #ff9900;
}

.nav__logo {
  position: absolute;
  left: 15px;
  transform: translateX(0) translateY(0);
  transition: all 0.2s;
}

.nav__wrapper--open-menu .nav__logo {
  left: 50%;
  transform: translateX(-50%) translateY(25px);
}

.nav {
  background-color: #ffffff;
  padding-top: 3px;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 10px 14px rgba(102, 0, 255, 0.02);
  box-sizing: border-box;
  z-index: 999;
}

.nav__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.nav__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__wrapper--open-menu .nav__container {
  margin-bottom: 79px;
}

.nav__mobile-menu,
.nav__mobile-menu::before,
.nav__mobile-menu::after {
  display: block;
  background-color: #ff9900;
  width: 32px;
  height: 3px;
  border-radius: 1px;
  transition: transform 0.2s;
}

.nav__mobile-menu {
  position: relative;
  border: none;
  font-size: 0;
  outline: none;
  margin: 20px 14px;
  transition: background-color 0.2s;
}

.nav__mobile-menu::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
}

.nav__mobile-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
}

.nav__wrapper--open-menu .nav__mobile-menu {
  background-color: inherit;
}

.nav__wrapper--open-menu .nav__mobile-menu::before {
  transform: rotate(43deg) translate(10px, -2px) rotateY(45deg);
}

.nav__wrapper--open-menu .nav__mobile-menu::after {
  transform: rotate(-43deg) translate(10px, 2px) rotateY(45deg);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.2s;
}

.nav__wrapper--open-menu .nav__list {
  margin-bottom: 55px;
  height: 210px;
  opacity: 1;
}

.nav__item {
  margin: 19px 0;
}

.nav__item-link {
  color: #000000;
  font-size: 19px;
  line-height: 19px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav__item-link:hover {
  color: #6600ff;
}

.nav__register {
  overflow: hidden;
  opacity: 0;
  border: 2px solid #6600ff;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #6600ff;
  height: 0;
  border-radius: 25px;
  background-color: transparent;
  padding: 0 34px;
  outline: none;
  box-shadow: 0 4px 5px rgba(102, 0, 255, 0.15);
  transition: all 0.2s;
  cursor: pointer;
}

.nav__register:hover,
.nav__register:focus {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #ffffff;
}

.nav__register:active {
  transform: scale(0.95);
  background-color: #ff9900;
  border-color: #ff9900;
  color: #ffffff;
}

.nav__wrapper--open-menu .nav__register {
  opacity: 1;
  height: 45px;
}

.header {
  background-image: url("../img/skillup/triangle-mobile-header-right-middle.png"),
    url("../img/skillup/triangle-mobile-header-right-bottom.png"),
    url("../img/skillup/header-picture-mobile.png");
  background-repeat: no-repeat;
  background-position: right center, right bottom, right 180px;
}

.header__wrapper {
  padding: 15px;
}

.header__course-format {
  background-color: #ff9900;
  max-width: 90px;
  padding: 7px 5px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border-radius: 3px;
}

.header__description {
  width: calc(100% - 130px);
  line-height: 28px;
  margin-bottom: 40px;
}

.header__description span {
  color: #6600ff;
}

.header__list {
  margin-bottom: 30px;
}

.header__list-item {
  margin-bottom: 20px;
}

.header__list-item::before {
  margin-right: 10px;
}

.header__list-item:nth-child(1)::before {
  content: "💎";
}
.header__list-item:nth-child(2)::before {
  content: "📅";
}
.header__list-item:nth-child(3)::before {
  content: "💻";
}
.header__list-item:nth-child(4)::before {
  content: "🏁";
}

.header__place-counter {
  color: #ff9900;
}

.header__register {
  width: 233px;
  height: 54px;
  background-color: #ff9900;
  border-radius: 27px;
  border: 2px solid #ff9900;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  outline: 0;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 5px rgba(255, 153, 0, 0.15);
  transition: all 0.2s;
  cursor: pointer;
}

.header__register:hover,
.header__register:focus {
  background-color: #6600ff;
  border-color: #6600ff;
}

.header__register:active {
  background-color: #6600ff;
  transform: scale(0.95);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6600ff;
  min-height: 225px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

.description__description {
  margin: 0;
  font-size: 22px;
  line-height: 33px;
}

.roadmap {
  background-color: #ffffff;
  padding: 65px 15px 15px;
  background-image: url("../img/skillup/triangle-mobile-roadmap-right-top.png");
  background-repeat: no-repeat;
  background-position: 100% -44px;
}

.roadmap__description {
  position: relative;
  max-width: 1106px;
  font-size: 22px;
  line-height: 28px;
}

.roadmap__description::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  display: block;
  width: 110px;
  height: 4px;
  background-color: #6600ff;
}

.roadmap__roadmap {
  width: 95%;
}

.technology {
  padding: 15px;
  background-color: #ffffff;
  background-image: url("../img/skillup/triangle-mobile-technology-right-bottom.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.technology__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.technology__item {
  width: 50%;
  padding-right: 10px;
  box-sizing: border-box;
}

.technology__item-title {
  position: relative;
  padding-bottom: 7px;
  font-size: 24px;
  line-height: 21px;
  color: #6600ff;
}

.technology__item-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 11px;
  height: 4px;
  background-color: #ff9900;
}

.technology__item-description {
  font-size: 17px;
  line-height: 21px;
}

.web-is {
  margin: 0 auto;
  padding: 15px;
  background-color: #ffffff;
  background-image: url("../img/skillup/triangle-mobile-web-is-right-top.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.web-is__image {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.course-for {
  padding: 15px;
  background-color: #0398df;
  color: #ffffff;
}

.learning {
  padding: 15px;
}

.learning__list {
  max-width: 400px;
  margin: 0 auto;
  list-style: none;
  /* counter-reset: counter; */
}

.learning__item {
  position: relative;
  min-height: 60px;
  margin-left: 20px;
  margin-bottom: 30px;
  line-height: 20px;
  /* counter-increment: counter; */
}

.learning__item::before {
  /* content: counter(counter); */
  content: "";
  position: absolute;
  left: -77px;
  display: block;
  width: 77px;
  height: 77px;
  background-repeat: no-repeat;
  background-size: 57%;
  background-position: center top;
}

.learning__item--first::before {
  background-image: url("../img/skillup/number-1.svg");
  background-size: 47%;
}

.learning__item--second::before {
  background-image: url("../img/skillup/number-2.svg");
}

.learning__item--third::before {
  background-image: url("../img/skillup/number-3.svg");
}

.learning__item--fourth::before {
  background-image: url("../img/skillup/number-4.svg");
}

.learning__item:nth-child(1n + 10)::before {
  left: -63px;
}

.learning__item:nth-child(3n + 1)::before {
  color: #6600ff;
}

.learning__item:nth-child(3n + 2)::before {
  color: #ff9900;
}

.learning__item:nth-child(3n + 3)::before {
  color: #0398df;
}

.certificate {
  padding: 15px;
  background-image: url("../img/skillup/triangle-mobile-certificate-left-middle.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.certificate__container {
  max-width: 748px;
  margin: 0 auto;
}

.certificate__image {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}

.certificate__description {
  position: relative;
  border-radius: 1px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
}

.certificate__description::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 110px;
  height: 4px;
  background-color: #6600ff;
  text-align: center;
}

.meet {
  padding: 15px 15px 45px;
  background-image: url("../img/skillup/triangle-mobile-meet-right-bottom.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.meet__description {
  margin: 0;
  font-size: 22px;
  line-height: 147.7%;
}

.meet__description--bold {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 33px;
}

.meet__logo {
  width: 100%;
}

.mentor {
  padding: 15px;
  background-color: #0398df;
  color: #ffffff;
  background-image: url("../img/skillup/triangle-mobile-mentor-right-top.png"),
    url("../img/skillup/triangle-mobile-mentor-right-bottom.png");
  background-repeat: no-repeat;
  background-position: right top, right bottom;
}

.mentor__title {
  font-size: 30px;
  line-height: 33px;
}

.mentor__description {
  font-size: 20px;
  line-height: 147.7%;
}

.mentor__photo {
  border-radius: 50%;
  border: 11px solid #6600ff;
  display: block;
  margin: 0 auto;
}

.mentor__social-list {
  display: flex;
  justify-content: center;
}

.mentor__social-link {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 15px;
}

.mentor__social-link--facebook {
  background-image: url("../img/skillup/icon-fb.svg");
}

.mentor__social-link--linkedin {
  background-image: url("../img/skillup/icon-in.svg");
}

.course-join {
  padding: 15px;
}

.buy {
  padding: 15px;
}

.buy__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 469px;
  background-color: #ff9900;
  border-radius: 10px;
  padding: 34px 15px;
}

.buy__title {
  margin: 0;
  font-size: 30px;
  line-height: 31px;
  color: #ffffff;
}

.buy__old-button {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 19px;
  line-height: 37px;
  font-weight: bold;
  padding: 9px 13px 10px 16px;
  text-align: center;
}

.buy__price-old {
  position: relative;
  padding: 5px;
}

.buy__price-old::before {
  content: "";
  position: absolute;
  top: 41%;
  left: -9%;
  display: block;
  width: 120%;
  height: 3px;
  background-color: #6600ff;
  transform: rotate(-45deg);
}

.buy__price-current {
  font-size: 1.3em;
  padding: 0 5px;
}

.buy__subtitle {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 15px;
}

.buy__current-button {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #ff9900;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 27px;
  outline: 0;
  padding: 14px;
  box-shadow: 0 4px 5px rgba(102, 0, 255, 0.15);
  transition: all 0.2s;
  cursor: pointer;
}

.buy__current-button:hover,
.buy__current-button:focus {
  background-color: #6600ff;
  color: #ffffff;
}

.buy__current-button:active {
  background-color: #6600ff;
  color: #ffffff;
  transform: scale(0.95);
}

.faq {
  max-width: 846px;
  padding: 15px;
  margin: 0 auto;
}

.faq__title {
  font-size: 40px;
}

.faq__question {
  position: relative;
  font-size: 26px;
  line-height: 33px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.faq__question::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -23px;
  display: block;
  width: 15px;
  height: 22px;
  background-image: url("../img/skillup/icon-arrow.svg");
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

.faq__question--open::before {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.faq__answer {
  margin-left: 20px;
  margin-bottom: 20px;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0.3s;
  overflow: hidden;
  height: 0;
}

.faq__answer.active {
  transform: scale(1);
  transition: transform 0.3s;
  height: auto;
}
.contacts {
  position: relative;
  padding: 6px 0;
}

.contacts__title-container {
  max-width: 1248px;
  margin: 0 auto 15px;
}

.contacts__title {
  position: relative;
  display: inline-block;
  padding: 5px 31px 5px 20px;
  color: #ffffff;
  background-color: #6600ff;
  border-radius: 0 6px 6px 0;
}

.contacts__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -356px;
  display: block;
  width: 356px;
  height: 100%;
  background-color: #6600ff;
}

.contacts__wrapper {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
}

.contacts__description {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.contacts__item {
  padding: 4px 0 4px 30px;
}

.contacts__link {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
}

.contacts__link--phone {
  margin-bottom: 10px;
}

.contacts__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
}

.contacts__link--phone::before {
  background-image: url("../img/skillup/icon-phone.svg");
}

.contacts__link--email::before {
  background-image: url("../img/skillup/icon-email.svg");
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.footer__logo {
  text-align: center;
  width: 150px;
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  margin: 0 18px;
}

.footer__social-link {
  cursor: pointer;
  display: block;
  font-size: 0;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
}

.footer__social-link,
.mentor__social-item {
  transition: all 0.3s;
  border-radius: 5px;
}

.footer__social-link:hover,
.footer__social-link:focus,
.footer__social-link:active,
.mentor__social-item:hover,
.mentor__social-item:focus,
.mentor__social-item:active {
  transform: translate(2px, 2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.footer__social-link--facebook {
  background-image: url("../img/skillup/icon-facebook.svg");
}

.footer__social-link--instagram {
  background-image: url("../img/skillup/icon-instagram.svg");
}

.footer__social-link--youtube {
  background-image: url("../img/skillup/icon-youtube.svg");
}

.footer__social-link--twitter {
  background-image: url("../img/skillup/icon-twitter.svg");
}

.popup {
  position: fixed;
  padding-top: 60px;
  padding-bottom: 55px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 1017px;
  min-height: 360px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #ffffff;
  background-image: url("../img/skillup/triangle-mobile-popup-left.png"),
    url("../img/skillup/triangle-mobile-popup-right.png");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  box-shadow: 0px 5px 50px 1px rgba(102, 0, 255, 0.1);
  z-index: 9999;
}

.popup__title {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0;
  margin-bottom: 32px;
}

.popup__description {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 66px;
}

.popup__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__input {
  width: 90%;
  border: none;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 6px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  outline: none;
  transition: border 0.3s;
}

.popup__input::placeholder {
  color: lightgrey;
}

.popup__input:hover,
.popup__input:focus {
  border-color: #6600ff;
}

.popup__button {
  width: 307px;
  height: 54px;
  border-radius: 27px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6600ff;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border: 2px solid #6600ff;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 4px 17px rgba(137, 62, 255, 0.2);
  transition: all 0.3s;
}

.popup__button:hover,
.popup__button:focus {
  background-color: #6600ff;
  color: #ffffff;
}

.footer__social-link--instagram {
  background-image: url("../img/skillup/icon-instagram.svg");
}

.footer__social-link--youtube {
  background-image: url("../img/skillup/icon-youtube.svg");
}

.footer__social-link--twitter {
  background-image: url("../img/skillup/icon-twitter.svg");
}

.popup__close {
  position: absolute;
  right: 5px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cookie {
  text-align: center;
  position: fixed;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.cookie__logo {
  font-size: 48px;
  margin-right: 15px;
}

.cookie__title {
  font-size: 24px;
  line-height: 26px;
}

.cookie__button {
  border: none;
  display: block;
  width: 240px;
  font-size: 20px;
  padding: 10px 0;
  border-radius: 30px;
  background-color: #ff9900;
  color: #ffffff;
  transition: all 0.2s;
  margin: 15px auto;
  outline: none;
}

.cookie__button:hover {
  background-color: #6600ff;
}

.cookie__button:active {
  background-color: #6600ff;
  transform: scale(0.95);
}

.cookie__description {
  margin: 0;
  line-height: 2;
}

.cookie__policy {
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #6600ff;
  background-color: inherit;
  transition: all 0.2s;
  margin-bottom: 30px;
  outline: none;
}

.cookie__policy:hover {
  text-decoration: underline;
}

.cookie__policy:active {
  transform: scale(0.95);
}

@media (min-width: 768px) {
  .list {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  .list__item {
    width: 48%;
    margin-right: 2%;
  }

  .nav {
    padding: 0 35px;
  }

  .nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__container {
    width: auto;
  }

  .nav__wrapper--open-menu .nav__container {
    margin-bottom: 0;
  }

  .nav__mobile-menu {
    display: none;
  }

  .nav__logo {
    position: static;
  }

  .nav__wrapper--open-menu .nav__logo {
    transform: none;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 440px;
    opacity: 1;
    min-height: 50px;
  }

  .nav__wrapper--open-menu .nav__list {
    height: auto;
    margin-bottom: 0;
  }

  .nav__item {
    margin: 0;
  }

  .nav__item:last-child {
    margin-right: 0;
  }

  .nav__register {
    opacity: 1;
    height: 46px;
    padding: 0 10px;
    max-width: 150px;
  }

  .header {
    background-image: url("../img/skillup/header-picture.png"),
      url("../img/skillup/triangle-mobile-header-right-bottom.png");
    background-size: 270px;
  }

  .header__wrapper {
    padding: 55px 35px;
  }

  .header__title {
    width: 643px;
    font-size: 50px;
    text-align: left;
  }

  .header__description {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 26px;
  }

  .description {
    padding: 10px 35px;
  }

  .roadmap {
    padding: 35px;
  }

  .roadmap__description {
    margin-bottom: 118px;
    padding-left: 25px;
    border-left: 4px solid #6600ff;
  }

  .roadmap__description::before {
    display: none;
  }

  .technology {
    padding: 35px;
  }

  .technology__list {
    max-width: 748px;
  }

  .technology__item {
    padding-right: 90px;
  }

  .web-is {
    padding: 35px;
  }

  .course-for {
    padding: 35px;
  }

  .learning {
    padding: 35px;
  }

  .learning__title {
    margin-bottom: 50px;
  }

  .learning__list {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
  }

  .learning__item {
    width: 250px;
    margin: 0 59px 50px 20px;
  }

  .certificate {
    padding: 35px;
  }

  .meet {
    padding: 35px;
  }

  .mentor {
    padding: 35px;
  }

  .course-join {
    padding: 35px;
  }

  .buy {
    padding: 35px;
  }

  .buy__wrapper {
    box-sizing: border-box;
    padding: 69px 63px 74px;
  }

  .buy__title {
    font-size: 40px;
    line-height: 41px;
    margin-bottom: 19px;
  }

  .buy__old-button {
    width: 320px;
    margin: 0;
    margin-bottom: 36px;
    font-size: 25px;
  }

  .buy__subtitle {
    margin: 0 0 12px 0;
    letter-spacing: 0.3px;
  }

  .buy__current-button {
    width: 100%;
    max-width: 307px;
  }

  .buy__current-button {
    padding: 12px 14px;
    letter-spacing: 0.9px;
  }

  .faq {
    padding: 35px;
  }

  .contacts {
    padding: 35px;
  }

  .footer {
    padding: 35px;
  }
}

@media (min-width: 1024px) {
  .list__item {
    width: 50%;
    padding-right: 60px;
    box-sizing: border-box;
    margin-bottom: 50px;
  }

  .list__item-title {
    width: 60px;
  }

  .list__item-description {
    line-height: 23px;
  }

  .nav__wrapper {
    max-width: 1204px;
    padding: 15px 0;
    justify-content: flex-start;
  }

  .nav__list {
    margin-left: 71.04px;
    min-width: 490px;
  }

  .nav__register {
    margin-left: auto;
    padding: 0 35px;
  }

  .header {
    background-image: url("../img/skillup/header-picture.png"),
      url("../img/skillup/triangles-header.png");
    background-position: 103% 34%, 93% 100%;
    background-size: 35%, auto;
  }

  .header__wrapper {
    max-width: 1060px;
    margin: 0 auto;
    background-size: 465px;
    padding: 100px 88px 67px;
  }

  .header__description {
    margin-bottom: 36px;
  }

  .header__list {
    margin-bottom: 133px;
  }

  .header__list-item {
    margin-bottom: 0;
    font-size: 19px;
    line-height: 29px;
  }

  .description {
    padding: 35px 88px;
  }

  .roadmap {
    background-image: url("../img/skillup/triangles-roadmap-left-top.png"),
      url("../img/skillup/triangles-roadmap-left-bottom.png");
    background-repeat: no-repeat;
    background-position: left top, left bottom;
    background-size: 17%;
    padding: 116px 88px 62px;
  }

  .roadmap__wrapper {
    margin: 0 auto;
    max-width: 1294px;
  }

  .roadmap__description {
    margin-left: 120px;
  }

  .roadmap__paragraph {
    margin: 0 0 11px 0;
  }

  .technology {
    background-image: url("../img/skillup/triangles-technology-left-top.png"),
      url("../img/skillup/triangles-technology-right.png"),
      url("../img/skillup/triangles-technology-left-bottom.png");
    background-repeat: no-repeat;
    background-position: 0 39px, right bottom, left bottom;
    background-size: 15%, 30%, 12%;
    padding: 75px 168px 35px;
  }

  .technology__wrapper {
    max-width: 748px;
    margin: 0 auto;
  }

  .technology__list {
    justify-content: space-between;
    margin: 0;
  }

  .technology__item {
    width: 33%;
  }

  .technology__item-title {
    width: 148px;
  }

  .technology__item-description {
    width: 148px;
  }

  .web-is {
    padding: 35px 88px;
    background-image: url("../img/skillup/triangles-web-is-left-top.png"),
      url("../img/skillup/triangles-web-is-right.png"),
      url("../img/skillup/triangles-web-is-left-bottom.png");
    background-repeat: no-repeat;
    background-position: 16px 0, 100% 0, 0 100%;
    background-size: 12%, 30%, 30%;
  }

  .course-for {
    padding: 35px 88px;
    background-image: url("../img/skillup/triangles-course-for-left.png"),
      url("../img/skillup/triangles-course-for-right.png");
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% -99px;
    background-size: 16%, 21%;
  }

  .learning {
    padding: 35px 88px;
  }

  .learning__item {
    width: 290px;
    margin-bottom: 66px;
    line-height: 23px;
  }

  .learning__item:nth-child(1n + 10)::before {
    left: -103px;
  }

  .certificate {
    padding: 35px 88px;
    background-image: url("../img/skillup/triangles-certificate-left.png"),
      url("../img/skillup/triangles-certificate-right.png");
    background-repeat: no-repeat;
    background-size: 294px, 220px;
    background-position: left bottom, right bottom;
  }

  .meet {
    padding: 93px 88px;
    background-image: url("../img/skillup/triangles-meet-left.png"),
      url("../img/skillup/triangles-meet-right.png");
    background-repeat: no-repeat;
    /* background-position: 0% 100.6%, 95.7% 100.6%; */
    background-position: 0 0, 100% 102%;
    background-size: 20.8%, 51.7%;
  }

  .meet__description {
    letter-spacing: 0.3px;
  }

  .meet__description--bold {
    letter-spacing: 0.6px;
  }

  .meet__logo {
    position: relative;
    left: 10px;
    top: 3px;
  }

  .mentor {
    display: flex;
    justify-content: center;
    padding: 35px 35px 35px 88px;
  }

  .mentor__wrapper {
    display: flex;
    max-width: 1228px;
  }

  .mentor__description-container {
    margin-right: 15px;
  }

  .course-join {
    padding: 35px 88px;
  }

  .course-join__title {
    margin-bottom: 50px;
  }

  .buy {
    padding: 35px 88px;
    background-image: url("../img/skillup/triangles-buy-left-top.png"),
      url("../img/skillup/triangles-buy-right-top.png"),
      url("../img/skillup/triangles-buy-right-bottom.png"),
      url("../img/skillup/triangles-buy-left-bottom.png");
    background-repeat: no-repeat;
    background-position: 0 0, calc(100% - 190px) 0, 100% 100%, 0 100%;
    background-size: auto;
  }

  .faq {
    display: flex;
    padding: 35px 88px;
  }

  .faq__title {
    margin: 0;
    margin-right: 20px;
  }

  .contacts {
    padding: 35px 88px;
  }

  .contacts__title-container {
    margin-bottom: 27px;
  }

  .contacts__title {
    padding: 15px 31px 15px 0;
  }

  .contacts__wrapper {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .contacts__description {
    width: 300px;
    margin-right: 60px;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }

  .contacts__item {
    padding-left: 24px;
    margin: 7px 0;
  }

  .contacts__link {
    font-size: 20px;
  }

  .contacts__link::before {
    left: -43px;
    width: 29px;
    height: 29px;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .list {
    max-width: 1240px;
  }

  .nav__list {
    min-width: 580px;
  }

  .header {
    background-position: 78% 34%, 93% 100%;
    background-size: auto;
  }

  .description {
    padding: 35px 118px;
  }

  .description__title {
    font-size: 26px;
    line-height: 33px;
  }

  .description__description {
    font-size: 21.6px;
    line-height: 32.49px;
  }

  .roadmap {
    padding: 55px 118px;
  }

  .roadmap__title {
    margin: 0;
  }

  .roadmap__roadmap {
    position: relative;
    bottom: 30px;
    right: -6px;
  }

  .technology {
    background-position: 0 39px, right bottom, left bottom;
    background-size: 18%, 30%, 12%;
    padding: 75px 118px 70px;
  }

  .technology__wrapper {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
  }

  .technology__title {
    width: 350px;
    font-size: 50px;
    margin: 30px 0;
  }

  .technology__list {
    padding-top: 33px;
  }

  .technology__item {
    margin-bottom: 17px;
  }

  .technology__item-title {
    width: 160px;
    margin: 0 0 14px 0;
  }

  .technology__item-title::before {
    bottom: -4px;
    left: 1px;
  }

  .technology__item-description {
    width: 183px;
  }

  .web-is {
    padding: 35px 118px;
    background-color: #ffffff;
    background-position: 22px 0, 100% 0, 0 100%;
  }

  .course-for {
    padding: 35px 118px 200px;
  }

  .learning {
    padding: 35px 118px;
  }

  .learning__wrapper {
    max-width: 1208px;
    width: 1208px;
    margin: 0 auto;
    padding: 74px 0 0;
  }

  .learning__list {
    width: 1280px;
    padding-left: 0;
  }

  .learning__item {
    width: 350px;
    margin: 0 173px 96px 102px;
  }

  .learning__item::before {
    height: 104px;
    top: 3px;
    left: -110px;
    background-size: 100%;
  }

  .learning__item--first::before {
    background-size: 80%;
  }

  .learning__item--second::before {
    left: -119px;
  }

  .learning__item--third::before {
    left: -102px;
  }

  .learning__item--fourth::before {
    width: 90px;
    top: 7px;
    left: -122px;
  }

  .course-for__wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  .learning {
    padding-bottom: 13px;
  }

  .certificate {
    padding: 85px;
    padding-top: 22px;
    background-position: -1px 0, 80.5% 92.6%;
  }

  .certificate__container {
    display: flex;
    max-width: 660px;
  }

  .certificate__image {
    position: relative;
    right: 11px;
  }

  .certificate__description {
    position: relative;
    right: 20px;
    top: 142px;
    min-width: 300px;
    height: 105px;
  }

  .meet {
    padding: 35px 118px;
    background-size: auto;
  }

  .meet__description {
    max-width: 1280px;
  }

  .mentor {
    background-image: url("../img/skillup/triangles-mentor-left.png"),
      url("../img/skillup/triangles-mentor-right.png");
    background-repeat: no-repeat;
    background-position: 0 0, calc(100% + 38px) 0;
    background-size: 12%, auto;
    padding: 55px 0 123px;
  }

  .mentor__description-container {
    width: 758px;
    margin-right: 148px;
  }

  .mentor__title {
    margin-bottom: 18px;
  }

  .mentor__description {
    margin: 0;
    letter-spacing: 0.3px;
    line-height: 30px;
  }

  .mentor__photo {
    margin: 22px auto 12px;
  }

  .course-join {
    padding: 35px 118px;
    background-image: url("../img/skillup/triangles-course-join-left.png"),
      url("../img/skillup/triangles-course-join-right.png");
    background-repeat: no-repeat;
    background-position: left top, right top;
  }

  .course-join__wrapper {
    max-width: 1240px;
    margin: 0 auto;
  }

  .buy {
    background-size: auto;
  }

  .faq {
    padding: 115px 0 58px;
    max-width: 1206px;
  }

  .faq__title {
    margin-right: 70px;
  }

  .faq__wrapper {
    margin-top: 5px;
  }

  .faq__question {
    margin: 0;
  }

  .faq__question::before {
    left: -33px;
  }

  .faq__answer {
    margin: 5px 0 13px;
    font-size: 20px;
    line-height: 147.7%;
  }

  .contacts {
    padding: 35px 118px;
  }

  .footer {
    padding: 80px 0;
  }

  .footer__logo {
    width: 176px;
    margin-bottom: 40px;
  }

  .cookie {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .cookie__button {
    margin: 0;
  }
}

@media (min-width: 1920px) {
  h2 {
    font-size: 50px;
    line-height: 50px;
  }

  .roadmap {
    padding: 55px 356px;
  }

  .roadmap__description {
    margin-left: 0;
  }

  .technology {
    padding: 75px 356px 70px;
    background-size: auto, auto, auto;
  }

  .web-is {
    background-size: auto, auto, auto;
    background-position: 37px 0, 100% 0, 0 100%;
  }

  .course-for {
    background-size: auto, auto;
  }

  .web-is,
  .course-for,
  .learning,
  .course-join,
  .contacts {
    padding: 35px 356px;
  }

  .meet {
    padding: 66px 356px;
  }

  .mentor {
    background-size: auto, auto;
  }
}

.flex {
  display: flex;
}
