@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff'),
       url('../fonts/MullerRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff') format('woff'),
       url('../fonts/MullerBold.woff2') format('woff2');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Muller';
  background-color: #fcfcfc;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  width: 70px;
  height: 49px;)
}

.nav {
  background-color: #ffffff;
}

.nav__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.nav__container {
  margin-bottom: 15px;
}

.nav__list {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item {
  margin-bottom: 10px;
}

.nav__item-link {
  font-size: 19px;
  line-height: 19px;
}

.nav__register {
  border: 2px solid #6600ff;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #6600ff;
  min-height: 49px;
  border-radius: 25px;
  background-color: transparent;
  padding: 0 43px;
}

.header__wrapper {
  padding: 15px;
}

.header__title {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.header__description span {
  color: #6600ff;
}

.header__list {
  margin-bottom: 30px;
}

.header__list-item {
  margin-bottom: 10px;
}

.header__register {
  width: 233px;
  height: 54px;
  background-color: #FF9900;
  border-radius: 27px;
  border: none;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6600ff;
  min-height: 245px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

.description__title {
  margin: 0;
  font-size: 26px;
  line-height: 33px;
}

.description__description {
  margin: 0;
  font-size: 22px;
  line-height: 33px;
}

.roadmap {
  background-color: #ffffff;
  padding: 15px;
}

.roadmap__description {
  max-width: 1106px;
  padding-left: 26px;
  font-size: 22px;
  line-height: 28px;
  border-left: 4px solid #6600ff;
}

.technology {
  padding: 15px;
}

.technology__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.technology__item-title {
  position: relative;
  width: 140px;
  padding-bottom: 7px;
  font-size: 24px;
  line-height: 21px;
  color: #6600ff;
}

.technology__item-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 11px;
  height: 4px;
  background-color: #ff9900;
}

.technology__item-description {
  width: 148px;
  font-size: 17px;
  line-height: 21px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
@media (min-width: 768px) {
  .nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__container {
    margin-bottom: 0;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 500px;
  }

  .nav__item {
    margin-right: 2%;
    margin-bottom: 0;
  }

  .nav__item:last-child {
    margin-right: 0;
  }

  .header__wrapper {
    padding: 55px;
    background-image: url('../img/skillup/header-picture.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 300px;
  }

  .header__title {
    width: 643px;
    font-size: 50px;
    text-align: left;
  }

  .header__description {
    font-size: 20px;
    margin-bottom: 26px;
  }

  .roadmap {
    background-image: url('../img/skillup/triangles-roadmap.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-left: 150px;
  }

  .roadmap__description {
    margin-bottom: 116px;
  }

  .technology {
    padding: 35px;
  }

  .technology__list {
    max-width: 748px;
  }

  .technology__item {
    margin-right: 40px;
  }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
@media (min-width: 1024px) {
  .nav__wrapper {
    max-width: 1280px;
    padding: 15px 90px;
    justify-content: flex-start;
  }
  
  .nav__list {
    margin-left: 71.04px;
  }
  
  .nav__register {
    margin-left: auto;
  }
  
  .header__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background-size: 465px;
    padding-top: 166px;
    padding-bottom: 67px;
  }
  
  .header__list {
    margin-bottom: 106px;
  }
  
  .description__wrapper {
    max-width: 1280px;
  }
  
  .roadmap__wrapper {
    margin: 0 auto;
    max-width: 1280px;
  }
  
  .technology {
    padding-left: 150px;
  }
  
  .technology__list {
    justify-content: space-between;
    margin: 0;
  }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////  */

@media (min-width: 1440px) {
  .technology {
    background-image: url('../img/skillup/triangles-technology-left.png'), url('../img/skillup/triangles-technology-right.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: auto;
  }

  .technology__wrapper {
    max-width: 1440px;
    display: flex;
  }

  .technology__title {
    width: 350px;
    font-size: 50px;
    margin-right: 104px;
  }
}
