@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-latin-regular.woff2') format('woff2'),
       url('../fonts/montserrat-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-700.woff2') format('woff2'), 
       url('../fonts/montserrat-700.woff') format('woff'); 
}

body {
  min-width: 320px;
  background-color: #ffffff;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
}

.header {
  background-image: url("../img/bg01.png");
  background-position: bottom;
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  padding: 0 40px;
  padding-bottom: 20px;
  z-index: 1;
}

.slogan {
  display: flex;
  justify-content: space-between;
}

.rocket{
  position: relative;
  height: 210px;
  width: 114px;
  display: none;
  z-index: 999;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: border-box;
}

.title__header {
  text-transform: uppercase;
  color: #0398df;
  font-size: 35px;
  background: linear-gradient(145deg, #0398df 20%, #6600ff 50%, #6600ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow: -7px 11px 1px rgba(180, 0, 255, 0.2);
  margin-bottom: 80px;
}

.logo {
  padding-top: 105px;
  width: 238px;
  height: 110px;
  padding-bottom: 20px;
}

.description__header {
  margin: 0;
  font-size: 18px;
  line-height: 1.8;
}

.title__main {
  padding: 30px 40px;
  color: #0398df;
  font-size: 40px;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.4;
}

.description__main {
  margin: 0;
  padding: 40px 20px;
  color: #822fff;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  line-height: 1.4;
}

.footer__arrow {
  width: 496px;
  max-width: 100%;
  margin: 0 auto;
  background-image: url("../img/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 250px;
}

.footer {
  text-align: center;
  background-color:  #0498e0;
  background-image: url(../img/bg02.jpg);
  background-position: bottom right;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

.title__footer {
  margin: 0;
  font-size: 36px;
  padding: 40px 20px;
  line-height: 1.5;
}

.description__footer {
  margin: 0;
  font-size: 20px;
  color: #0398df;
  padding: 20px;
  line-height: 1.6;
}

.send {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin: 20px 0;
  border: #ff6000 3px solid;
  border-radius: 50px;
  max-width: 100%;
  background-color: #ff6000;
  box-sizing: border-box;
  width: 100%;
}

.send:hover {
  border-color: #ffffff;
}

.footer .container {
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.communication {
  margin: 0;
  font-size: 22px; 
  padding: 20px 0;
}

.tel {
  display: inline-block;
  position: relative;
  color: #ffffff;
  padding: 15px 20px 15px 40px;
  z-index: 1;
}

.tel::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 15%;
  left: 0;
  background-image: url("../img/Phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.email {
  display: inline-block;
  position: relative;
  color: #ffffff;
  padding: 15px 20px 15px 50px;
  z-index: 1;
}

.email::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 15%;
  left: 0;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.main .container {
  max-width: 1480px;
}

.main {
  background-color: #fff;
  position: relative;
}

.earth {
  max-width: 100%;
  width: 100%;
  order: 2;
  height: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.earth .signal1 {
  animation: signal1 13s infinite;
  opacity: 0;
}

.earth .signal2 {
  animation: signal2 13s infinite;
  opacity: 0;
}

.earth .signal3 {
  animation: signal3 13s infinite;
  opacity: 0;
}

.link {
  color: #0398df;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

@keyframes signal1 {
  0% { opacity: 0; }
  54% { opacity: 0; }
  54.01% { opacity: 1; }
  69% { opacity: 1; }
  69.01% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes signal2 {
  0% { opacity: 0; }
  38% { opacity: 0; }
  38.01% { opacity: 1; }
  85% { opacity: 1; }
  85.01% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes signal3 {
  0% { opacity: 0; }
  23% { opacity: 0; }
  23.01% { opacity: 1; }
  100% { opacity: 1; }
}

.spots {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.spots span {
  width: 5vmin;
  height: 5vmin;
  border-radius: 5vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.spots span:nth-child(1) {
  color: #ffacac;
  top: 8%;
  left: 65%;
  animation-duration: 15.2s;
  animation-delay: -14.5s;
  transform-origin: 13vw -5vh;
  box-shadow: 40vmin 0 3.5vmin currentColor;
}
.spots span:nth-child(2) {
  color: #ffd5b9;
  top: 1%;
  left: 23%;
  animation-duration: 10.4s;
  animation-delay: -7.2s;
  transform-origin: -24vw 17vh;
  box-shadow: -40vmin 0 5vmin currentColor;
}
.spots span:nth-child(3) {
  color: #e45a84;
  top: 65%;
  left: 100%;
  animation-duration: 10.3s;
  animation-delay: -14.3s;
  transform-origin: -6vw 5vh;
  box-shadow: 40vmin 0 4vmin currentColor;
}
.spots span:nth-child(4) {
  color: #e45a84;
  top: 30%;
  left: 95%;
  animation-duration: 10.1s;
  animation-delay: -3.1s;
  transform-origin: 21vw -11vh;
  box-shadow: 40vmin 0 3vmin currentColor;
}
.spots span:nth-child(5) {
  color: #b6daff;
  top: 44%;
  left: 35%;
  animation-duration: 14.1s;
  animation-delay: -10.5s;
  transform-origin: -2vw -16vh;
  box-shadow: -40vmin 0 3vmin currentColor;
}
.spots span:nth-child(6) {
  color: #ffacac;
  width: 3vmin;
  height: 3vmin;
  border-radius: 3vmin;
  top: 52%;
  left: 91%;
  animation-duration: 14s;
  animation-delay: -7.5s;
  transform-origin: -6vw 20vh;
  box-shadow: 40vmin 0 5vmin currentColor;
}
.spots span:nth-child(7) {
  color: #b6daff;
  top: 11%;
  left: 72%;
  animation-duration: 11.9s;
  animation-delay: -8.7s;
  transform-origin: -5vw -14vh;
  box-shadow: -40vmin 0 3vmin currentColor;
}
.spots span:nth-child(8) {
  color: #ffbdf5;
  top: 36%;
  left: 60%;
  animation-duration: 15.9s;
  animation-delay: -12.2s;
  transform-origin: -20vw -24vh;
  box-shadow: -40vmin 0 3vmin currentColor;
}
.spots span:nth-child(9) {
  color: #b6daff;
  top: 51%;
  left: 67%;
  animation-duration: 10.7s;
  animation-delay: -1.3s;
  transform-origin: -8vw -15vh;
  box-shadow: -40vmin 0 4.7036328706vmin currentColor;
}
.spots span:nth-child(10) {
  color: #583c87;
  top: 47%;
  left: 69%;
  width: 1vmin;
  height: 1vmin;
  animation-duration: 11.6s;
  animation-delay: -0.7s;
  transform-origin: 0vw 11vh;
  box-shadow: 40vmin 0 4.8345402933vmin currentColor;
}
.spots span:nth-child(11) {
  color: #583c87;
  top: 45%;
  left: 2%;
  animation-duration: 15.6s;
  animation-delay: -10.2s;
  transform-origin: 22vw -1vh;
  box-shadow: 40vmin 0 5vmin currentColor;
}
.spots span:nth-child(12) {
  color: #ffdcea;
  top: 32%;
  left: 22%;
  animation-duration: 15.3s;
  animation-delay: -8.3s;
  transform-origin: -8vw -24vh;
  box-shadow: 40vmin 0 5vmin currentColor;
}

.spots span:nth-child(13) {
  color: #ffacac;
  top: 95%;
  left: 91%;
  animation-duration: 12.7s;
  animation-delay: -12.5s;
  transform-origin: -10vw -4vh;
  box-shadow: -40vmin 0 4vmin currentColor;
}

.spots span:nth-child(14) {
  color: #ffacac;
  top: 20%;
  left: 53%;
  animation-duration: 11.6s;
  animation-delay: -7.4s;
  transform-origin: 19vw -20vh;
  box-shadow: -40vmin 0 2vmin currentColor;
}

.spots span:nth-child(15) {
  color: #b6daff;
  top: 20%;
  left: 99%;
  animation-duration: 11.3s;
  animation-delay: -2.2s;
  transform-origin: -16vw 11vh;
  box-shadow: 40vmin 0 7.6370468911vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.rocket__1,
.rocket__2,
.rocket__3,
.rocket__4,
.rocket__5,
.rocket__6,
.rocket__51,
.rocket__61,
.rocket__62,
.rocket__70,
.rocket__71,
.rocket__72,
.rocket__73,
.rocket__74 {
  opacity: 0;
}

.rocket__1,
.rocket__2,
.rocket__3,
.rocket__4,
.rocket__5,
.rocket__6,
.rocket__7,
.rocket__51,
.rocket__6__bottom {
  position: absolute;
  top: 0;
  left: 0;
}

.rocket__51,
.rocket__6__bottom {
  margin-top: 100px;
}

.rocket__bottom {
  margin-top: -10px;
  position: relative;
}

.rocket {
  animation: rocket0 1s 3.8s ease-in;
  animation-fill-mode: forwards;
}

.rocket__1 {
  animation: rocket1 0.5s 3s;
}

.rocket__2 {
  animation: rocket2 0.5s 3.2s;
}

.rocket__3 {
  animation: rocket2 0.5s 3.4s;
}

.rocket__4 {
  animation: rocket2 0.5s 3.6s;
}

.rocket__5 {
  animation: rocket2 0.5s 3.8s;
}

.rocket__51 {
  animation: rocket3 0.5s 3.9s;
}

.rocket__6 {
  animation: rocket2 0.5s 4s;
}

.rocket__61 {
  animation: rocket3 0.5s 4.1s;
}

.rocket__62 {
  animation: rocket3 0.5s 4.1s;
}
 
.rocket__70 {
  animation: rocket2 0.5s 4.2s;
}

.rocket__71 {
  animation: rocket3 0.5s 4.25s;
}

.rocket__72 {
  animation: rocket3 0.5s 4.3s;
}

.rocket__73 {
  animation: rocket3 0.5s 4.35s;
}

.rocket__74 {
  animation: rocket3 0.5s 4.4s;
}

@keyframes rocket0 {
  0% {
   transform: none;
  }
  /* 3% {
    transform: translateY(-5px);
  }
  5% {
    transform: translateY(-3px);
  }
  7% {
    transform: translateY(-7px);
  }
  9% {
    transform: translateY(-15px);
  }
  11% {
    transform: translateY(-12px);
  }
  13% {
    transform: translateY(-20px);
  }
  15% {
    transform: translateY(-18px);
  } */
  100% {
    transform: translateY(-500px);
  }
 }

@keyframes rocket1 {
 0% {
  opacity: 0;
 }
 50.01%{
  opacity: 1;
 }
 99.01%{
  opacity: 1;
 }
 100%{
  opacity: 0;
 }
}

@keyframes rocket2 {
  0% {
   opacity: 0;
  }
  50% {
   opacity: 0;
  }
  50.01%{
   opacity: 1;
  }
  99.01%{
   opacity: 1;
  }
  100%{
   opacity: 0;
  }
}

@keyframes rocket3 {
  0% {
   opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.01%{
   opacity: 1;
  }
  100%{
   opacity: 0;
  }
}

@media (min-width: 500px) {
  .description__header {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .slogan {
    justify-content: flex-start;
  }

  .rocket {
    margin-left: 50px;
    display: block;
  }

  .title__header {
    font-size: 70px;
  }

  .header {
    height: 100vh;
    max-height: 1200px;
    padding-bottom: 0;
    min-height: 900px;
  }

  .description__header {
    font-size: 28px;
    bottom: 60px;
    position: absolute;
  }

  .main .container {
    padding: 100px 0;
  }

  .title__main {
    width: 55%;
    padding: 0 0 0 40px;
    order: 2;
  }

  .description__main {
    padding: 100px 150px 0;
  }

  .earth {
    padding: 0;
    width: 45%;
    order: 1;
  }

  .title__footer {
    font-size: 36px;
    padding: 100px 20px 40px;
  }

  .send {
    font-size: 60px;
    padding: 7px 80px;
    width: auto;
    margin: 40px 0;
  }

  .footer__arrow {
    height: 330px;
  }

  .description__footer {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .title__header {
    font-size: 100px;
  }

  .header {
    min-height: 1000px;
  }

  .title__main {
    font-size: 60px;
  }

  .description__header {
    font-size: 30px;
  }

  .footer::before {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg02.jpg);
    background-position: bottom right;
    background-size: auto;
    background-repeat: no-repeat;
    transform: scale(-1, 1);
  }

  .slogan {
    justify-content: space-between;
  }
  
  .rocket{
    margin-left: 0;
  }
}

@media (min-width: 1800px) {
  .header {
    background-size: contain;
  }
}
