@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/*.wordpress__header {
    background-image: url("../img/skillup/triangles-wordpress-right-bottom.png");
    background-position: right bottom;
    background-repeat: no-repeat;
  }*/
  
  .wordpress__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1920px;
    width: 100%;
    margin: 50px 0;
  
  }
  
  .wordpress__title {
    width: 699px;
height: 285px;
margin-top: 70px;
text-align: right;
display: block;
font-family: "Oswald", "Arial", sans-serif;
font-size: 64px;
line-height: 100px;
font-weight: 400;

  }

  .wordpress__lightblue {
    color: #0398df;
    font-family: Oswald;
font-style: normal;
font-size: 64px;
line-height: 95px;
text-transform: uppercase;
font-weight: 400;
  }
  
  .wordpress__bold {
    font-family: Oswald;
    font-style: normal;
    font-size: 64px;
    line-height: 95px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  
  .wordpress__description {

width: 368px;
height: 56px;
margin-top: 30px;
text-transform: lowercase;
font-family: Roboto;
font-style: bold;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: right;

color: #6600FF;

  }

  .wordpress__register-price {

    width: 200px;
    height: 42px;
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    text-transform: none;
    color: #484054;
    
   
  }

  .wordpress__left {
      width: 829px;
margin: 0;

  }

  .wordpress__right {
    max-width: 829px;
    background: #FFFFFF;
  }

  .wordpress__right img {
      max-width: 800px;
      margin: 0 auto;
      padding-right: 30px;
  }

 

  .triangle {
transform: translateY(-100%);
    max-width: 440px;
    height: 380px;
    background: transparent;
  }


  .wordpress__register {
    transform: translateY(-170%);
    max-width: 1920px;
    width: 100%;
height: 235px;
      background-color: #0398DF;;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 15px 30px;
      background-image: url("../img/Group 95.png");
      background-size: cover;
      box-sizing: border-box;
  }

  .register-button {
    width: 262px;
height: 60px;
font-size: 24px;
color: #6600FF;
font-family: Roboto;
font-weight: 900;
text-transform: uppercase;
background: #FFFFFF;
box-shadow: 0px 4px 12px #6600FF;
border-radius: 49.5px;
transition: all 0.2s;
outline: none;
border: transparent;
  }

  .register-button:hover {
    background: orange;
    color: #fff;
    box-shadow: 0px 4px 12px #fff;


  }

  .wordpress__preferences {
    transform: translateY(-30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .preference_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
  }

  .preference_number {
    width: 83px;
height: 169px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 169px;
margin-right: 10px;

/* identical to box height */
text-align: right;
text-transform: uppercase;

color: #0398DF;

opacity: 0.1;
  }

  .wordpress__preferences p {
    width: 845px;
height: 56px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #484054;
  }

  .orange-block {
    transform: translateY(-120%);
    max-width: 1920px;
    position: relative;
    width: 100%;
    height: 222px;
    margin: 0 auto;
    background: url("../img/Group 88-2.png");
    background-position: cover;
    background-repeat: no-repeat;
    
  }

  .orange-block h1 {
 transform: translate(50%, -75%);
 position: absolute;

 justify-self: center;
width: 902px;
height: 220px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 240px;
line-height: 100%;

/* identical to box height, or 240px */
text-align: center;

color: #FFFFFF;
  }

  .wordpress-study {
    transform: translateY(-15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wordpress-study p {
    width: 845px;
    height: 56px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    
    color: #484054;
  }

  .studing h1 {
    transform: translateX(0);
width: 400px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 100%;
/* or 64px */
text-align: right;
text-transform: uppercase;

  }

 

  .studing h1.purple {
margin-bottom: 0;
    color: #6600FF;
  }

  .studing h1.lightblue {
margin-top: 0;
    color: #0398df;
  }

.studing-title {
  display: flex;
  

}

.studing-title .question {
  transform: translate(-80%, 60%);
   color: #0398df;
   font-size: 140px;
   display: block;
  margin-left: 20px;

 
 }

 

  .studing ul {
    list-style-image: url("../img/Rectangle 68.png");
    width: 700px;
    height: 532px;
  
  }

  .studing li {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #484054;
margin: 20px auto;
  }

  .subscribe-now {
    transform: translateY(-40%);
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
height: 315px;
background-image: url("../img/Group 97.png");
background-position: center;
background-size: contain;
background-repeat: no-repeat;
  }

  .subscribe-now-text1 {
    width: 553px;
height: 190px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 95px;
text-align: right;
text-transform: uppercase;
margin-right: 120px;
color: #FFFFFF;


  }

  .subscribe-now-text2 {
    max-width: 553px;
    width: 100%;
    height: 285px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 95px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    box-sizing: border-box;
    margin-left: 120px;
    
  }

  

  .lessons-type h1 {
   
    left: 25%;
margin-bottom: 50px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 100%;

/* identical to box height, or 64px */
text-align: center;
text-transform: uppercase;

color: #0398DF;
  }

  .lessons-container {
  
    max-width: 1920px;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 200px;
   
   
  }

 .lessons {
  width: 460px;
  height: 460px;
  margin: 0 auto;
  
 }

 
  .lessons-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 460px;
height: 460px;

position: relative;

}

.frame-wrap {
  overflow: hidden;
  border-radius: 30px;
  width: 480px;
 
   
  
}

  .border-gradient {
    
    border: 12px solid transparent;
    border-image: linear-gradient(#6600FF, #0398DF);
    border-image-slice: 1;
    
  }

 

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lessons .purple {
    position: absolute;
   bottom: 130px;
    font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #6600FF;
  }

  .lessons .lightblue {
    position: absolute;
   /*top: 450px;*/
    font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 36px;

/* identical to box height, or 36px */
text-align: center;
text-transform: uppercase;
bottom: 0;
color: #0398DF;
  }

  .lessons-frame p {
   position: absolute;
    bottom: 60px;
    font-family: inherit;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
text-transform: uppercase;


  }

  .lessons-frame img {
    position: absolute;
    top: 35px;
  }


  .subscribe p {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #484054;
  }

  .lessons-button {
    width: 262px;
height: 60px;
background: linear-gradient(90deg, #6600FF 0%, #0398DF 100%);
border-radius: 49.5px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
  }


 @media(max-width: 768px) {


     
    .wordpress__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        
    }
    .wordpress__title {
        max-width: 100%;
        height: auto;
        font-size: 12vw;
        line-height: 40px;
        text-align: center;
        align-items: center;
       
        
        
    }
    .wordpress__lightblue {
        font-size: 50px;
        line-height: 70px;
        
    }

    .wordpress__left {
        max-width: 700px;
        width: 100%;
        justify-content: center;
        align-items: center;
      
        padding-right: 20px;
        
    }
 .wordpress__right {
     max-width: 700px;
     margin: 0;
     padding: 10px;
   

 }
 .wordpress__right img {
     max-width: 620px;
     height: auto;
     width: 100%;
     padding: 0;

 }
.triangle img {
    max-width: 150px;
    max-height: 150px;
    transform: translateY(200%);
    
}

.wordpress__register {
    transform: translateY(-250%);
    max-width: 768px;
    width: 100%;
    height: 150px;
    background-size: contain;
    padding: 40px 0 30px 0;
    margin: 0;
}
.register-button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    
}

.wordpress__preferences {
    transform: translateY(-30%);
    margin: 0;
}

.preference {
    padding: 10px;
margin: 0;
}

.wordpress__preferences p {
    max-width: 600px;
    width: 100%;
height: auto;
max-height: 50px;
font-size: 20px;
line-height: 25px;



}

.wordpress__preferences img {
    width: 110px;
    height: 110px;
}

.preference_number {
    width: 70px;
    height: 150px;
    max-height: 100%;
    font-size: 140px;
    line-height: 150px;
    margin-right: 10px;
}

.orange-block {
    transform: translateY(-220%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 768px;
    max-width: 100%;
    min-height: 110px;
    height: auto;
    background-color: orange;
    background-position: contain;
    box-sizing: border-box;
    margin: 0;
  
}

.orange-block h1 {
    
 
  transform: translate(0, 10%);
    max-width: 100%;
    width: 520px;
    height: auto;
    font-size: 18vw;
bottom: 0;
margin: 0;
text-align: center;

}

.wordpress-study img {
    width: 20vw;
    height: 20vw;
}

.wordpress-study p {
    max-width: 600px;
width: 100%;
height: auto;
max-height: 50px;
font-size: 20px;
line-height: 25px;
}

.studing {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.studing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(20%);
}

.title-text {
    align-self: center;

}


.studing h1 {
    transform: translateX(-30%);
    width: 400px;
    max-width: 100%;
    font-size: 8vw;
    margin: 0 auto;
}

.studing-title .question {
    font-size: 16vw;
    transform: translate(-15%, -100%);
    margin-left: 0.2vw;
}

.studing ul {
width: 70vw;
max-width: 100%;
height: auto;
margin: 0;
}

.studing li {
    width: 70vw;
    font-size: 20px;
    line-height: 25px;
   
}

.subscribe-now {
  transform: translateY(-5%);
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 768px;
height: auto;
background-position: bottom;
background-size: contain;
background-color: #6600FF;
padding: 0;
box-sizing: border-box;
margin: 0;
}

.subscribe-now-text1 {
 
    width: 100%;
    height: auto;
    font-size: 10vw;
    line-height: 120%;
 text-align: right;
    margin: 20px 0 0 0;
    box-sizing: border-box;
    padding-right: 10px;
    
   
    
}

.subscribe-now-text2 {
    width: 100%;
    height: auto;
    font-size: 10vw;
    line-height: 120%;
    margin: 20px 0 0 0;
    text-align: left;
   box-sizing: border-box;
   align-self: start;
   padding-left: 10px;
   
   

}

.subscribe-now img {
    width: 15vw;
    height: 30vw;
    margin-top: 10px;
}

.lessons-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.lessons-type h1 {
    font-size: 6vw;
    margin: 10vw 0 10vw 0;
    
}

.lessons-container {
    flex-direction: column;
   align-items: center;
justify-content: center;
   width: 700px;
    max-width: 100%;
  
}

.lessons {
    
width: 60vw;
height: max-content;



}

.lessons-button {
  width: 30vw;
  height: 10vw;
    margin: 0 0 40px 0;
    font-size: 3vw;
}

 .lessons-frame {
    width: 60vw;
height: 60vw;
    
 }

 .frame-wrap {
   width: 64vw;

 }

 .lessons .purple {
bottom: 30%;
font-size: 6vw;
 }

 .lessons .lightblue {
     font-size: 6vw;
     
 }

 .lessons-frame p {
    bottom: 20%;
    font-size: 4vw;
}

.lessons-frame img {
    width: 25vw;
    height: 20vw;
}

.subscribe p {
    font-size: 20px;
    line-height: 25px;
}



.contacts {
  transform: translateY(-20%);
    margin: 0;
}


}

@media (min-width: 769px) and (max-width: 1024px) {
  .wordpress__wrapper {

    max-width: 1024px;
    width: 100%;
    height: auto;
    margin: 0;
  }
  .wordpress__title {
    max-width: 400px;
    width: 100%;
    line-height: 40px;
    height: auto;
    margin: 10% 0 0 0;
    
  }

  .wordpress__lightblue {
    font-size: 4vw;
line-height: 6vw;
  }

  .wordpress__bold  {
    font-size: 4vw;
line-height: 6vw;
  }

  .wordpress__left {
    max-width: 400px;
    width: 100%;
    height: auto;
margin: 0;
  }
  .wordpress__description {
    width: 250px;
    height: 40px;
    font-size: 4vw;
    line-height: 4vw;
  }

  .wordpress__register-price {
    width: 160px;
    height: 30px;
    font-size: 3vw;
    line-height: 3vw;
  }

  .wordpress__right {
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  .wordpress__right img {
    max-width: 450px;
    margin: 0;
    padding-left: 20px;
}

.triangle {
  max-width: 300px;
    height: 250px;
    transform:translateY(-60%);
}
.triangle img {
  max-width: 250px;
  max-height: 250px;
 
}
.wordpress__register {
  transform: translateY(-125%);
  max-width: 1024px;
  width: 100%;
height: 150px;
padding: 0;
display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
background-size: contain;
}

.register-button {
  width: 20vw;
height: 5vw;
font-size: 20px;
}

.wordpress__preferences {
  transform: translateY(-10%);
  margin: 0;
}

.preference {
  padding: 10px;
margin: 0;
}

.preference_number {
  width: 83px;
height: 169px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 169px;
margin-right: 10px;

/* identical to box height */
text-align: right;
text-transform: uppercase;

color: #0398DF;

opacity: 0.1;
}

.wordpress__preferences p {
  max-width: 800px;
  width: 100%;
height: auto;
max-height: 50px;
font-size: 20px;
line-height: 25px;

}

.orange-block {
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1024px;
  max-width: 100%;
  min-height: 150px;
  height: auto;
  background-color: orange;
  background-position: contain;
  box-sizing: border-box;
  margin: 0;

}

.orange-block h1 {
  
transform: translate(0, 10%);
  max-width: 700px;
  width: 100%;
  height: auto;
  font-size: 18vw;
bottom: 0;
margin: 0;
text-align: center;

}

.wordpress-study {
  transform: translateY(0);
}

.wordpress-study img {
  width: 17vw;
  height: 17vw;
}

.wordpress-study p {
  max-width: 600px;
width: 100%;
height: auto;
max-height: 50px;
font-size: 20px;
line-height: 25px;
}

.studing {
  max-width: 600px;
  width: 100%;
height: auto;
 
}

.studing h1 {
  transform: translateX(-10%);
width: 500px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 6vw;
line-height: 100%;
/* or 64px */
text-align: right;
text-transform: uppercase;

}

.studing-title .question {
  font-size: 13vw;
  transform: translate(-80%, 60%);
}

.studing ul {
  max-width: 600px;
}
.studing li {
  font-size: 20px;
}

.subscribe-now {
  transform: translateY(-25%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
height: 50vw;

}

.subscribe-now-text1 {
  max-width: 350px;
  width: 100%;
height: auto;
font-size: 4.5vw;
line-height: 6vw;
margin-right: 6vw;


}

.subscribe-now img {
  width: 8vw;
  height: 15vw;
  margin-top: 10px;
}

.subscribe-now-text2 {
  max-width: 330px;
  width: 100%;
height: auto;
  font-size: 3vw;
line-height: 5vw;
margin-left: 6vw;

  
}

.lessons-type {
  transform: translateY(-10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    box-sizing: border-box;
    width: 70vw;
    margin: 0 auto;
   
}

.lessons-type h1 {
    font-size: 5vw;
    margin: 8vw 0 8vw 0;
    
}

.lessons-container {
    flex-direction: column;
   align-items: center;
justify-content: center;
   max-width: 700px;
    width: 100%;
  height: auto;
  
}

.lessons {
    
width: 40vw;
height: max-content;



}

.lessons-button {
  width: 20vw;
  height: 5vw;
    margin: 0 0 40px 0;
    font-size: 2vw;
}

 .lessons-frame {
    width: 40vw;
height: 40vw;

    
 }

 .frame-wrap {
   width: 42vw;

 }

 .lessons .purple {
bottom: 30%;
font-size: 4vw;
 }

 .lessons .lightblue {
     font-size: 4vw;
     
 }

 .lessons-frame p {
    bottom: 20%;
    font-size: 2vw;
}

.lessons-frame img {
    width: 15vw;
    height: 11vw;
}

.subscribe p {
    font-size: 20px;
    line-height: 25px;
}

.contacts {
  transform: translateY(-100%);
    margin: 0;
}

}

@media (min-width: 1025px) and (max-width: 1440px) {
  .wordpress__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1440px;
    width: 100%;
    margin: 50px 0;
  
  }
  
  .wordpress__title {
    max-width: 600px;
    width: 100%;
height: auto;
margin-top: 60px;
font-size: 50px;
line-height: 60px;
font-weight: 400;
  }

  .wordpress__lightblue {
    
font-size: 50px;
line-height: 80px;

  }
  
  .wordpress__bold {
    font-size: 50px;
    line-height: 80px;
    
  }

  .wordpress__description {
    width: 320px;
height: 50px;
font-size: 40px;
line-height: 40px;
  }

  .wordpress__register-price {
    width: 180px;
    height: 40px;
    font-size: 30px;
    line-height: 30px;
  }

  .wordpress__left {
    width: 800px;
  }
.wordpress__right {
  max-width: 800px;
}

.wordpress__right img {
  max-width: 45vw;
}

.triangle {
  transform: translateY(-70%);
      max-width: 350px;
      height: 300px;
}

.triangle img {
  width: 200px;
  height: 200px;

}

.wordpress__register {
  transform: translateY(-190%);
  max-width: 1440px;
    width: 100%;
height: 170px;
}

.register-button {
  width: 20vw;
height: 5vw;
font-size: 20px;

}

.orange-block {
  transform: translateY(-200%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  min-height: 150px;
  height: auto;
  background-color: orange;
  background-position: contain;
  box-sizing: border-box;
  margin: 0;

}

.orange-block h1 {
transform: translate(0, 10%);
  max-width: 700px;
  width: 100%;
  height: auto;
  font-size: 12vw;
bottom: 0;
margin: 0;
text-align: center;

}

.studing {
  max-width: 600px;
  width: 100%;
height: auto;
 
}

.studing h1 {
  transform: translateX(-10%);
width: 500px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 6vw;
line-height: 100%;
/* or 64px */
text-align: right;
text-transform: uppercase;

}

.studing-title .question {
  font-size: 13vw;
  transform: translate(-80%, 60%);
}

.subscribe-now {
  transform: translateY(-60%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
height: 50vw;

}

.subscribe-now-text1 {
  max-width: 330px;
  width: 100%;
height: auto;
font-size: 3.5vw;
line-height: 6vw;
margin-right: 6vw;

}

.subscribe-now img {
  width: 8vw;
  height: 15vw;
  margin-top: 10px;
}

.subscribe-now-text2 {
  max-width: 330px;
  width: 100%;
height: auto;
  font-size: 3vw;
line-height: 5vw;
margin-left: 6vw;
  
}

.lessons-type {
  transform: translateY(-60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    box-sizing: border-box;
   max-width: 1400px;
   width: 100%;
   height: auto;
    margin: 0 auto;
   
}

.lessons-type h1 {
  
    font-size: 4vw;
    margin: 8vw 0 8vw 0;
    
}

.lessons-container {
    flex-direction: row;
   align-items: center;
justify-content: center;
   max-width: 1200px;
    width: 100%;
  height: auto;
  box-sizing: border-box;
padding-left: 3vw;
  
}

.lessons {
    
width: 30vw;
height: max-content;



}

.lessons-button {
  width: 15vw;
  height: 3vw;
    margin: 0 0 40px 0;
    font-size: 1vw;
}

 .lessons-frame {
    width: 25vw;
height: 25vw;
margin: 0 1vw;
    
 }

 .frame-wrap {
   width: 27vw;

 }

 .lessons .purple {
bottom: 20%;
font-size: 2vw;
 }

 .lessons .lightblue {
     font-size: 2vw;
     
 }

 .lessons-frame p {
    bottom: 12%;
    font-size: 1vw;
}

.lessons-frame img {
    width: 13vw;
    height: auto;
}

.subscribe p {
    font-size: 20px;
    line-height: 25px;
}

.contacts {
  transform: translateY(-220%);
    margin: 0;
  
}
}

@media (min-width: 1441px) and (max-width: 1920px) {
  body {
    max-width: 1920px;
    width: 100%;
    height: auto;
  }

  .wordpress__header {
    box-sizing: border-box;
    margin: 0;
  }

  .subscribe-now {
  padding: 20px 0;
  background-size: cover;
  }

  .lessons-container {
    padding-left: 3vw;
  }
}

@media (min-width: 1921px) {
* {
  max-width: 100%;
}

.orange-block {
  min-width: 1920px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-size: cover;
}

.lessons-container {
  padding-left: 3vw;
}

}